<head>
	<title>Link Management System</title>

	<link rel="stylesheet" type="text/css" href="../libs/bootstrap.css" />
	<!-- This line was giving an error, the little dot ./libs was preventing the document to load the css file correctly-->
	<link rel="stylesheet" href="/libs/new.css" />
	<!-- fontAwesome icons link -->
	<link
		rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
		crossorigin="anonymous"
	/>
	<%- include('./navbar') -%>
</head>
