<%- include('partials/header') -%>

<div class="global-container">
	<div class="row justify-content-center">
		<div class="card login-form">
			<div class="card-body">
				<h2 class="card-title text-center">Forgot Password</h2>
				<%- include('partials/messages') -%>
				<div class="card-text">
					<form action="/forgot" class="login-form-2" method="POST">
						<div class="form-group">
							<input
								type="email"
								name="email"
								class="form-control"
								placeholder="Enter Email Address"
							/>
						</div>
						<button type="submit" class="btn btn-danger btn-block btn-login">
							Send Email
						</button>
					</form>
					<a class="float-right" href="/login">Back to Login</a>
				</div>
			</div>
		</div>
	</div>
</div>

<%- include('partials/footer') -%>
