<%- include('partials/header') -%>
    <h3 class="text-center mt-5 mb-3">Continue as</h3>
    <div class="container w-25">
        <%- include('partials/messages') -%>
            <form action="/" method="POST">

                <center style="border-top: 1px solid silver;">
                    <input style="margin-top: 10px; cursor: pointer;" type="radio" name="radio" value="student">
                    <label>Student</label><br>
                    <input type="radio" name="radio" value="teacher" style="cursor: pointer;">
                    <label>Teacher</label><br>
                </center>
                <button type="submit" class="btn btn-primary btn-block mt-2" style="cursor: pointer;">Continue</button>
            </form>
    </div>


    </div>

    <%- include('partials/footer') -%>